.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PDF_UA-2/FileContentIndex/3bd9a0f7-20a1-40a3-934e-9b173d716b35.vsidx
.vs/PDF_UA-2/FileContentIndex/bf138596-1041-4151-93b7-d8d34b1f14d5.vsidx
.vs/PDF_UA-2/FileContentIndex/e3d3854a-4008-4a75-a2f6-1c31ccca1090.vsidx
.vs/PDF_UA-2/FileContentIndex/read.lock
.vs/PDF_UA-2/v17/.wsuo
